<div>
    <p>hi, click on the link below</p>
    <br>
    <br>
    <a href="localhost:8000/users/reset_password?accessoken=<%= accesstoken %>"><strong>click here</strong></p>
    <br>
    <br>
    <p>thanks!</p>
</div>