<footer>
    <div><i class="fa-regular fa-copyright"></i> <span>Leisha. All Rights Reserved</span></div>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/Profile">Profile</a></li>
        </ul>
    </div>
</footer>