<link rel="stylesheet" type="text/css" href="/css/home.css">
<div id="home-container">
    <div id="post-container">
        <section>
            <h4>Posts</h4>
            <form action="/posts/create" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Enter text" required></textarea>
                <input type="submit" value="Post">
            </form>
        </section>

        <section>
            <ul>
                <% for (post of postlist){ %>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </section>
    </div>
    <section id="user-friends">
        <% for (u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </section>
</div>