<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<div>
    <h2>Signin</h2>
    <form action="/users/create-session" method="post">
        <label>Email</label>
        <input type="email" name="email" required>
        <label>Password</label>
        <input type="password" name="password" required>
        <input type="submit" value="login">
    </form>

    <p>
        <a href="/users/auth/google">Google signin/signup</a>
    </p>
    <p>
        <a href="/users/forgot_password/">Forgot password?</a>
    </p>

</div>